.product {
  padding: 105px 0 120px;

  &__items {
  }
}

.product-item {
  max-width: 370px;
  text-align: center;
  &__img-box {
    position: relative;
    height: 370px;
    // overflow: hidden;
  }

  &__link-box {
    //     transition: all 0.3s;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 50px;
    background-color: $white;
    //     width: 220px;
    //     height: 50px;
    //     margin: 0 auto;
    //     box-shadow: 0 5px 30px 0 rgba(152, 152, 152, 0.2);
    //     border-radius: 22px;
    //     display: flex;
    //     align-items: center;
    //     justify-content: space-around;
    //     transform: translateY(300%);
  }

  //   &__link--line::before,
  //   &__link--line::after {
  //     content: "";
  //     position: absolute;
  //     background-color: #ececec;
  //     width: 1px;
  //     height: 30px;
  //     top: 10px;
  //   }

  //   &__link--line::before {
  //     left: 70px;
  //   }

  //   &__link--line::after {
  //     right: 70px;
  //   }

  //   &__link {
  //     display: inherit;
  //     path {
  //       transition: all 0.3s;
  //     }
  //   }

  //   &__link:hover {
  //     path {
  //       fill: $accent;
  //     }
  //   }

  &__images {
    object-fit: cover;
  }

  //   &:hover {
  //     .product-item__link-box {
  //       transform: translateY(0);
  //     }
  //   }

  //   &__title {
  //     color: $white;
  //     padding: 15px 0 20px;
  //   }

  //   &__price {
  //     display: flex;
  //     justify-content: center;
  //     @extend %roboto-400;
  //   }

  //   &__new-price {
  //     padding: 0 12px;
  //     color: $title;
  //   }

  //   &__old-price {
  //     padding: 0 12px;
  //     text-decoration: line-through;
  //   }
}
